<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.base.mapper.SysLogininforMapper">
    
    <select id="query" resultType="com.spyker.base.entity.SysLogininfor" parameterType="com.spyker.base.search.SysLogininforSearch">
        SELECT a.* FROM sys_logininfor a
        <where>
            <if test="null != userName ">
                and a.user_name = #{userName}
            </if>
            <if test="null != ipaddr ">
                and a.ipaddr = #{ipaddr}
            </if>
            <if test="null != loginLocation ">
                and a.login_location = #{loginLocation}
            </if>
            <if test="null != browser ">
                and a.browser = #{browser}
            </if>
            <if test="null != os ">
                and a.os = #{os}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
            <if test="null != msg ">
                and a.msg = #{msg}
            </if>
        </where>
    </select>
    
    <select id="queryPage" resultType="com.spyker.base.entity.SysLogininfor" parameterType="com.spyker.base.search.SysLogininforSearch">
        SELECT a.* FROM sys_logininfor a
        <where>
            <if test="null != userName ">
                and a.user_name = #{userName}
            </if>
            <if test="null != ipaddr ">
                and a.ipaddr = #{ipaddr}
            </if>
            <if test="null != loginLocation ">
                and a.login_location = #{loginLocation}
            </if>
            <if test="null != browser ">
                and a.browser = #{browser}
            </if>
            <if test="null != os ">
                and a.os = #{os}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
            <if test="null != msg ">
                and a.msg = #{msg}
            </if>
        </where>
    </select>

</mapper>