<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.OpenMenuMapper">


    <select id="query" resultType="com.spyker.commons.entity.OpenMenu"
            parameterType="com.spyker.commons.search.OpenMenuSearch">
        SELECT
        a.*
        FROM
        open_menu a
        <where>
                    <if test="null != parentId ">
                        and a.parent_id = #{parentId}
                    </if>
                    <if test="null != treePath ">
                        and a.tree_path = #{treePath}
                    </if>
                    <if test="null != name ">
                        and a.name = #{name}
                    </if>
                    <if test="null != menuType ">
                        and a.menu_type = #{menuType}
                    </if>
                    <if test="null != path ">
                        and a.path = #{path}
                    </if>
                    <if test="null != component ">
                        and a.component = #{component}
                    </if>
                    <if test="null != perm ">
                        and a.perm = #{perm}
                    </if>
                    <if test="null != visible ">
                        and a.visible = #{visible}
                    </if>
                    <if test="null != sortValue ">
                        and a.sort_value = #{sortValue}
                    </if>
                    <if test="null != icon ">
                        and a.icon = #{icon}
                    </if>
                    <if test="null != redirect ">
                        and a.redirect = #{redirect}
                    </if>
                    <if test="null != delFlag ">
                        and a.del_flag = #{delFlag}
                    </if>
                    <if test="null != tenantId ">
                        and a.tenant_id = #{tenantId}
                    </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.OpenMenu"
            parameterType="com.spyker.commons.search.OpenMenuSearch">
        SELECT
        a.*
        FROM
        open_menu a
        <where>
                    <if test="null != search.parentId ">
                        and a.parent_id = #{search.parentId}
                    </if>
                    <if test="null != search.treePath ">
                        and a.tree_path = #{search.treePath}
                    </if>
                    <if test="null != search.name ">
                        and a.name = #{search.name}
                    </if>
                    <if test="null != search.menuType ">
                        and a.menu_type = #{search.menuType}
                    </if>
                    <if test="null != search.path ">
                        and a.path = #{search.path}
                    </if>
                    <if test="null != search.component ">
                        and a.component = #{search.component}
                    </if>
                    <if test="null != search.perm ">
                        and a.perm = #{search.perm}
                    </if>
                    <if test="null != search.visible ">
                        and a.visible = #{search.visible}
                    </if>
                    <if test="null != search.sortValue ">
                        and a.sort_value = #{search.sortValue}
                    </if>
                    <if test="null != search.icon ">
                        and a.icon = #{search.icon}
                    </if>
                    <if test="null != search.redirect ">
                        and a.redirect = #{search.redirect}
                    </if>
                    <if test="null != search.delFlag ">
                        and a.del_flag = #{search.delFlag}
                    </if>
                    <if test="null != search.tenantId ">
                        and a.tenant_id = #{search.tenantId}
                    </if>
        </where>
    </select>

</mapper>