<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.OpenRoleMapper">


    <select id="query" resultType="com.spyker.commons.entity.OpenRole"
            parameterType="com.spyker.commons.search.OpenRoleSearch">
        SELECT
        a.*
        FROM
        open_role a
        <where>
                    <if test="null != delFlag ">
                        and a.del_flag = #{delFlag}
                    </if>
                    <if test="null != name ">
                        and a.name = #{name}
                    </if>
                    <if test="null != userId ">
                        and a.user_id = #{userId}
                    </if>
                    <if test="null != roleKey ">
                        and a.role_key = #{roleKey}
                    </if>
                    <if test="null != status ">
                        and a.status = #{status}
                    </if>
                    <if test="null != tenantId ">
                        and a.tenant_id = #{tenantId}
                    </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.OpenRole"
            parameterType="com.spyker.commons.search.OpenRoleSearch">
        SELECT
        a.*
        FROM
        open_role a
        <where>
                    <if test="null != search.delFlag ">
                        and a.del_flag = #{search.delFlag}
                    </if>
                    <if test="null != search.name ">
                        and a.name = #{search.name}
                    </if>
                    <if test="null != search.userId ">
                        and a.user_id = #{search.userId}
                    </if>
                    <if test="null != search.roleKey ">
                        and a.role_key = #{search.roleKey}
                    </if>
                    <if test="null != search.status ">
                        and a.status = #{search.status}
                    </if>
                    <if test="null != search.tenantId ">
                        and a.tenant_id = #{search.tenantId}
                    </if>
        </where>
    </select>

</mapper>