<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.OpenRoleMenuMapper">


    <select id="query" resultType="com.spyker.commons.entity.OpenRoleMenu"
            parameterType="com.spyker.commons.search.OpenRoleMenuSearch">
        SELECT
        a.*
        FROM
        open_role_menu a
        <where>
                    <if test="null != roleId ">
                        and a.role_id = #{roleId}
                    </if>
                    <if test="null != menuId ">
                        and a.menu_id = #{menuId}
                    </if>
                    <if test="null != delFlag ">
                        and a.del_flag = #{delFlag}
                    </if>
                    <if test="null != tenantId ">
                        and a.tenant_id = #{tenantId}
                    </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.OpenRoleMenu"
            parameterType="com.spyker.commons.search.OpenRoleMenuSearch">
        SELECT
        a.*
        FROM
        open_role_menu a
        <where>
                    <if test="null != search.roleId ">
                        and a.role_id = #{search.roleId}
                    </if>
                    <if test="null != search.menuId ">
                        and a.menu_id = #{search.menuId}
                    </if>
                    <if test="null != search.delFlag ">
                        and a.del_flag = #{search.delFlag}
                    </if>
                    <if test="null != search.tenantId ">
                        and a.tenant_id = #{search.tenantId}
                    </if>
        </where>
    </select>

</mapper>