<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.OpenProcessInstanceExecutionMapper">


    <select id="query" resultType="com.spyker.commons.entity.OpenProcessInstanceExecution"
            parameterType="com.spyker.commons.search.OpenProcessInstanceExecutionSearch">
        SELECT
        a.*
        FROM
        open_process_instance_execution a
        <where>
                    <if test="null != delFlag ">
                        and a.del_flag = #{delFlag}
                    </if>
                    <if test="null != tenantId ">
                        and a.tenant_id = #{tenantId}
                    </if>
                    <if test="null != processInstanceId ">
                        and a.process_instance_id = #{processInstanceId}
                    </if>
                    <if test="null != nodeId ">
                        and a.node_id = #{nodeId}
                    </if>
                    <if test="null != executionId ">
                        and a.execution_id = #{executionId}
                    </if>
                    <if test="null != parentExecutionId ">
                        and a.parent_execution_id = #{parentExecutionId}
                    </if>
                    <if test="null != flowId ">
                        and a.flow_id = #{flowId}
                    </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.OpenProcessInstanceExecution"
            parameterType="com.spyker.commons.search.OpenProcessInstanceExecutionSearch">
        SELECT
        a.*
        FROM
        open_process_instance_execution a
        <where>
                    <if test="null != search.delFlag ">
                        and a.del_flag = #{search.delFlag}
                    </if>
                    <if test="null != search.tenantId ">
                        and a.tenant_id = #{search.tenantId}
                    </if>
                    <if test="null != search.processInstanceId ">
                        and a.process_instance_id = #{search.processInstanceId}
                    </if>
                    <if test="null != search.nodeId ">
                        and a.node_id = #{search.nodeId}
                    </if>
                    <if test="null != search.executionId ">
                        and a.execution_id = #{search.executionId}
                    </if>
                    <if test="null != search.parentExecutionId ">
                        and a.parent_execution_id = #{search.parentExecutionId}
                    </if>
                    <if test="null != search.flowId ">
                        and a.flow_id = #{search.flowId}
                    </if>
        </where>
    </select>

</mapper>