<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.OpenProcessFormMapper">


    <select id="query" resultType="com.spyker.commons.entity.OpenProcessForm"
            parameterType="com.spyker.commons.search.OpenProcessFormSearch">
        SELECT
        a.*
        FROM
        open_process_form a
        <where>
                    <if test="null != delFlag ">
                        and a.del_flag = #{delFlag}
                    </if>
                    <if test="null != uniqueId ">
                        and a.unique_id = #{uniqueId}
                    </if>
                    <if test="null != formName ">
                        and a.form_name = #{formName}
                    </if>
                    <if test="null != formId ">
                        and a.form_id = #{formId}
                    </if>
                    <if test="null != formType ">
                        and a.form_type = #{formType}
                    </if>
                    <if test="null != props ">
                        and a.props = #{props}
                    </if>
                    <if test="null != tenantId ">
                        and a.tenant_id = #{tenantId}
                    </if>
                    <if test="null != flowId ">
                        and a.flow_id = #{flowId}
                    </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.OpenProcessForm"
            parameterType="com.spyker.commons.search.OpenProcessFormSearch">
        SELECT
        a.*
        FROM
        open_process_form a
        <where>
                    <if test="null != search.delFlag ">
                        and a.del_flag = #{search.delFlag}
                    </if>
                    <if test="null != search.uniqueId ">
                        and a.unique_id = #{search.uniqueId}
                    </if>
                    <if test="null != search.formName ">
                        and a.form_name = #{search.formName}
                    </if>
                    <if test="null != search.formId ">
                        and a.form_id = #{search.formId}
                    </if>
                    <if test="null != search.formType ">
                        and a.form_type = #{search.formType}
                    </if>
                    <if test="null != search.props ">
                        and a.props = #{search.props}
                    </if>
                    <if test="null != search.tenantId ">
                        and a.tenant_id = #{search.tenantId}
                    </if>
                    <if test="null != search.flowId ">
                        and a.flow_id = #{search.flowId}
                    </if>
        </where>
    </select>

</mapper>