<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.OpenProcessNodeDataMapper">


    <select id="query" resultType="com.spyker.commons.entity.OpenProcessNodeData"
            parameterType="com.spyker.commons.search.OpenProcessNodeDataSearch">
        SELECT
        a.*
        FROM
        open_process_node_data a
        <where>
                    <if test="null != delFlag ">
                        and a.del_flag = #{delFlag}
                    </if>
                    <if test="null != flowId ">
                        and a.flow_id = #{flowId}
                    </if>
                    <if test="null != data ">
                        and a.data = #{data}
                    </if>
                    <if test="null != nodeId ">
                        and a.node_id = #{nodeId}
                    </if>
                    <if test="null != tenantId ">
                        and a.tenant_id = #{tenantId}
                    </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.OpenProcessNodeData"
            parameterType="com.spyker.commons.search.OpenProcessNodeDataSearch">
        SELECT
        a.*
        FROM
        open_process_node_data a
        <where>
                    <if test="null != search.delFlag ">
                        and a.del_flag = #{search.delFlag}
                    </if>
                    <if test="null != search.flowId ">
                        and a.flow_id = #{search.flowId}
                    </if>
                    <if test="null != search.data ">
                        and a.data = #{search.data}
                    </if>
                    <if test="null != search.nodeId ">
                        and a.node_id = #{search.nodeId}
                    </if>
                    <if test="null != search.tenantId ">
                        and a.tenant_id = #{search.tenantId}
                    </if>
        </where>
    </select>

</mapper>