<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.RankInfoMapper">

    <select id="query" resultType="com.spyker.commons.entity.RankInfo" parameterType="com.spyker.commons.search.RankInfoSearch">
        SELECT
            a.*
        FROM
            rank_info a
        <where>
            <if test="null != name ">
                and a.name = #{name}
            </if>
            <if test="null != rank ">
                and a.rank = #{rank}
            </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.RankInfo" parameterType="com.spyker.commons.search.RankInfoSearch">
        SELECT
            a.*
        FROM
            rank_info a
        <where>
            <if test="null != search.name ">
                and a.name = #{search.name}
            </if>
            <if test="null != search.rank ">
                and a.rank = #{search.rank}
            </if>
        </where>
    </select>

</mapper>