<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.SysDeptMapper">

    <select id="query" resultType="com.spyker.commons.entity.SysDept"
            parameterType="com.spyker.commons.search.SysDeptSearch">
        SELECT
            a.*
        FROM
            sys_dept a
        <where>
            <if test="null != parentId ">
                and a.parent_id = #{parentId}
            </if>
            <if test="null != ancestors ">
                and a.ancestors = #{ancestors}
            </if>
            <if test="null != deptName ">
                and a.dept_name = #{deptName}
            </if>
            <if test="null != leader ">
                and a.leader = #{leader}
            </if>
            <if test="null != phone ">
                and a.phone = #{phone}
            </if>
            <if test="null != email ">
                and a.email = #{email}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
            <if test="null != delFlag ">
                and a.del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.SysDept"
            parameterType="com.spyker.commons.search.SysDeptSearch">
        SELECT
            a.*
        FROM
            sys_dept a
        <where>
            <if test="null != search.parentId ">
                and a.parent_id = #{search.parentId}
            </if>
            <if test="null != search.ancestors ">
                and a.ancestors = #{search.ancestors}
            </if>
            <if test="null != search.deptName ">
                and a.dept_name = #{search.deptName}
            </if>
            <if test="null != search.leader ">
                and a.leader = #{search.leader}
            </if>
            <if test="null != search.phone ">
                and a.phone = #{search.phone}
            </if>
            <if test="null != search.email ">
                and a.email = #{search.email}
            </if>
            <if test="null != search.status ">
                and a.status = #{search.status}
            </if>
            <if test="null != search.delFlag ">
                and a.del_flag = #{search.delFlag}
            </if>

        </where>
    </select>

</mapper>