<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.SysJobMapper">

    <select id="query" resultType="com.spyker.commons.entity.SysJob"
            parameterType="com.spyker.commons.search.SysJobSearch">
        SELECT a.* FROM sys_job a
        <where>
            <if test="null != invokeTarget ">
                and a.invoke_target = #{invokeTarget}
            </if>
            <if test="null != cronExpression ">
                and a.cron_expression = #{cronExpression}
            </if>
            <if test="null != misfirePolicy ">
                and a.misfire_policy = #{misfirePolicy}
            </if>
            <if test="null != concurrent ">
                and a.concurrent = #{concurrent}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.SysJob"
            parameterType="com.spyker.commons.search.SysJobSearch">
        SELECT a.* FROM sys_job a
        <where>
            <if test="null != search.invokeTarget ">
                and a.invoke_target = #{search.invokeTarget}
            </if>
        </where>
    </select>

</mapper>