<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.SysProcessStarterMapper">


    <select id="query" resultType="com.spyker.commons.entity.SysProcessStarter"
            parameterType="com.spyker.commons.search.SysProcessStarterSearch">
        SELECT
        a.*
        FROM
        sys_process_starter a
        <where>
                    <if test="null != delFlag ">
                        and a.del_flag = #{delFlag}
                    </if>
                    <if test="null != createBy ">
                        and a.create_by = #{createBy}
                    </if>
                    <if test="null != updateBy ">
                        and a.update_by = #{updateBy}
                    </if>
                    <if test="null != typeId ">
                        and a.type_id = #{typeId}
                    </if>
                    <if test="null != containChildrenDept ">
                        and a.contain_children_dept = #{containChildrenDept}
                    </if>
                    <if test="null != typeName ">
                        and a.type_name = #{typeName}
                    </if>
                    <if test="null != processId ">
                        and a.process_id = #{processId}
                    </if>
                    <if test="null != data ">
                        and a.data = #{data}
                    </if>
                    <if test="null != tenantId ">
                        and a.tenant_id = #{tenantId}
                    </if>
                    <if test="null != flowId ">
                        and a.flow_id = #{flowId}
                    </if>
        </where>
    </select>

    <select id="queryPage" resultType="com.spyker.commons.entity.SysProcessStarter"
            parameterType="com.spyker.commons.search.SysProcessStarterSearch">
        SELECT
        a.*
        FROM
        sys_process_starter a
        <where>
                    <if test="null != search.delFlag ">
                        and a.del_flag = #{search.delFlag}
                    </if>
                    <if test="null != search.createBy ">
                        and a.create_by = #{search.createBy}
                    </if>
                    <if test="null != search.updateBy ">
                        and a.update_by = #{search.updateBy}
                    </if>
                    <if test="null != search.typeId ">
                        and a.type_id = #{search.typeId}
                    </if>
                    <if test="null != search.containChildrenDept ">
                        and a.contain_children_dept = #{search.containChildrenDept}
                    </if>
                    <if test="null != search.typeName ">
                        and a.type_name = #{search.typeName}
                    </if>
                    <if test="null != search.processId ">
                        and a.process_id = #{search.processId}
                    </if>
                    <if test="null != search.data ">
                        and a.data = #{search.data}
                    </if>
                    <if test="null != search.tenantId ">
                        and a.tenant_id = #{search.tenantId}
                    </if>
                    <if test="null != search.flowId ">
                        and a.flow_id = #{search.flowId}
                    </if>
        </where>
    </select>

</mapper>