<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.commons.mapper.SysProcessInstanceNodeRecordMapper">
	<select id="query" resultType="com.spyker.commons.entity.SysProcessInstanceNodeRecord"
	        parameterType="com.spyker.commons.search.SysProcessInstanceNodeRecordSearch">
		SELECT
        a.*
        FROM
        sys_process_instance_node_record a
        <where>
	        <if test="null != delFlag ">
		        and a.del_flag = #{delFlag}
	        </if>
                    <if test="null != createBy ">
	                    and a.create_by = #{createBy}
                    </if>
                    <if test="null != updateBy ">
	                    and a.update_by = #{updateBy}
                    </if>
                    <if test="null != flowId ">
	                    and a.flow_id = #{flowId}
                    </if>
                    <if test="null != processInstanceId ">
	                    and a.process_instance_id = #{processInstanceId}
                    </if>
                    <if test="null != data ">
	                    and a.data = #{data}
                    </if>
                    <if test="null != nodeId ">
	                    and a.node_id = #{nodeId}
                    </if>
                    <if test="null != nodeType ">
	                    and a.node_type = #{nodeType}
                    </if>
                    <if test="null != nodeName ">
	                    and a.node_name = #{nodeName}
                    </if>
                    <if test="null != status ">
	                    and a.status = #{status}
                    </if>
                    <if test="null != executionId ">
	                    and a.execution_id = #{executionId}
                    </if>
                    <if test="null != parentNodeId ">
	                    and a.parent_node_id = #{parentNodeId}
                    </if>
                    <if test="null != flowUniqueId ">
	                    and a.flow_unique_id = #{flowUniqueId}
                    </if>
                    <if test="null != tenantId ">
	                    and a.tenant_id = #{tenantId}
                    </if>
        </where>
	</select>

    <select id="queryPage" resultType="com.spyker.commons.entity.SysProcessInstanceNodeRecord"
            parameterType="com.spyker.commons.search.SysProcessInstanceNodeRecordSearch">
	    SELECT
        a.*
        FROM
        sys_process_instance_node_record a
        <where>
	        <if test="null != search.delFlag ">
		        and a.del_flag = #{search.delFlag}
	        </if>
                    <if test="null != search.createBy ">
	                    and a.create_by = #{search.createBy}
                    </if>
                    <if test="null != search.updateBy ">
	                    and a.update_by = #{search.updateBy}
                    </if>
                    <if test="null != search.flowId ">
	                    and a.flow_id = #{search.flowId}
                    </if>
                    <if test="null != search.processInstanceId ">
	                    and a.process_instance_id = #{search.processInstanceId}
                    </if>
                    <if test="null != search.data ">
	                    and a.data = #{search.data}
                    </if>
                    <if test="null != search.nodeId ">
	                    and a.node_id = #{search.nodeId}
                    </if>
                    <if test="null != search.nodeType ">
	                    and a.node_type = #{search.nodeType}
                    </if>
                    <if test="null != search.nodeName ">
	                    and a.node_name = #{search.nodeName}
                    </if>
                    <if test="null != search.status ">
	                    and a.status = #{search.status}
                    </if>
                    <if test="null != search.executionId ">
	                    and a.execution_id = #{search.executionId}
                    </if>
                    <if test="null != search.parentNodeId ">
	                    and a.parent_node_id = #{search.parentNodeId}
                    </if>
                    <if test="null != search.flowUniqueId ">
	                    and a.flow_unique_id = #{search.flowUniqueId}
                    </if>
                    <if test="null != search.tenantId ">
	                    and a.tenant_id = #{search.tenantId}
                    </if>
        </where>
    </select>
</mapper>