target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/.gitee/
/.idea
/logs/
/logs
/open.iml
/open.ipr
/open.iws
/front/vue-project/.vscode
/.apt_generated/
/.apt_generated_tests/
/*.factorypath
/*.classpath
/*.project
/.settings
!/.gitee/