<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="40 seconds">

    <!-- Because the standard logback.xml configuration file is loaded too early,
     you cannot use extensions in it.
     You need to either use logback-spring.xml
     gengor define a logging.config property. -->
	
	<!--	<springProperty scope="context" name="name" source="server.name" defaultValue="application"/>-->
	<springProperty scop="context" name="spring.application.name" source="spring.application.name" defaultValue=""/>

    <property name="log.base" value="logs/${spring.application.name}"/>

    <springProfile name="dev">
    <!-- configuration to be enabled when the "staging" profile is active -->
	    <property name="log.base" value="logs/${spring.application.name}-dev"/>
    </springProfile>
	
	<!-- excludePackageNames传入需要过滤包的关键字，以分号分割 -->
	<turboFilter class="com.spyker.framework.logback.ExcludeTurboFilter">
        <excludePackageNames>job.core;test</excludePackageNames>
    </turboFilter>
	
	<!-- 打印sleuth对应日志信息 -->
	<!--	<property name="TRACE_LOG_PATTERN"-->
	<!--	          value="%d [%thread] %-5level %logger{35} [%L] [TraceId=%X{X-B3-TraceId:-},SpanId=%X{X-B3-SpanId:-},ParentSpanId=%X{X-B3-ParentSpanId:-}] - %msg%n"/>-->
	
	<substitutionProperty name="TRACE_LOG_PATTERN"
	                      value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%thread]) %clr(%5p) %clr(-->){faint} %clr(%logger{50}){cyan}%clr(:) %clr(%L){cyan} %m%n%wEx"/>
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
	<conversionRule conversionWord="wex"
	                converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
	<conversionRule conversionWord="wEx"
	                converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class [%file:%line]
                - %msg%n</pattern> -->
	        <pattern>${TRACE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class [%file:%line]
                - %msg%n</pattern> -->
	        <pattern>${TRACE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class [%file:%line]
                - %msg%n</pattern> -->
	        <pattern>${TRACE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-warn.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class [%file:%line]
                - %msg%n</pattern> -->
	        <pattern>${TRACE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class [%file:%line]
                - %msg%n</pattern> -->
	        <pattern>${TRACE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <!--        <appender-ref ref="FILE-DEBUG" />-->
	    <appender-ref ref="FILE-ERROR"/>
        <appender-ref ref="FILE-INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>