<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.base.mapper.SysDeptMapper">
    
    <select id="query" resultType="com.spyker.base.entity.SysDept" parameterType="com.spyker.base.search.SysDeptSearch">
        SELECT a.* FROM sys_dept a
        <where>
            <if test="null != parentId ">
                and a.parent_id = #{parentId}
            </if>
            <if test="null != ancestors ">
                and a.ancestors = #{ancestors}
            </if>
            <if test="null != deptName ">
                and a.dept_name = #{deptName}
            </if>
            <if test="null != orderNum ">
                and a.order_num = #{orderNum}
            </if>
            <if test="null != leader ">
                and a.leader = #{leader}
            </if>
            <if test="null != phone ">
                and a.phone = #{phone}
            </if>
            <if test="null != email ">
                and a.email = #{email}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
            <if test="null != delFlag ">
                and a.del_flag = #{delFlag}
            </if>
            <if test="null != createBy ">
                and a.create_by = #{createBy}
            </if>
            <if test="null != updateBy ">
                and a.update_by = #{updateBy}
            </if>
        </where>
    </select>
    
    <select id="queryPage" resultType="com.spyker.base.entity.SysDept" parameterType="com.spyker.base.search.SysDeptSearch">
        SELECT a.* FROM sys_dept a
        <where>
            <if test="null != parentId ">
                and a.parent_id = #{parentId}
            </if>
            <if test="null != ancestors ">
                and a.ancestors = #{ancestors}
            </if>
            <if test="null != deptName ">
                and a.dept_name = #{deptName}
            </if>
            <if test="null != orderNum ">
                and a.order_num = #{orderNum}
            </if>
            <if test="null != leader ">
                and a.leader = #{leader}
            </if>
            <if test="null != phone ">
                and a.phone = #{phone}
            </if>
            <if test="null != email ">
                and a.email = #{email}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
            <if test="null != delFlag ">
                and a.del_flag = #{delFlag}
            </if>
            <if test="null != createBy ">
                and a.create_by = #{createBy}
            </if>
            <if test="null != updateBy ">
                and a.update_by = #{updateBy}
            </if>
        </where>
    </select>

</mapper>