<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.application.mapper.SysDictTypeMapper">
    
    <select id="query" resultType="com.spyker.application.entity.SysDictType" parameterType="com.spyker.application.search.SysDictTypeSearch">
        SELECT a.* FROM sys_dict_type a
        <where>
            <if test="null != dictName ">
                and a.dict_name = #{dictName}
            </if>
            <if test="null != dictType ">
                and a.dict_type = #{dictType}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
            <if test="null != createBy ">
                and a.create_by = #{createBy}
            </if>
            <if test="null != updateBy ">
                and a.update_by = #{updateBy}
            </if>
            <if test="null != remark ">
                and a.remark = #{remark}
            </if>
        </where>
    </select>
    
    <select id="queryPage" resultType="com.spyker.application.entity.SysDictType" parameterType="com.spyker.application.search.SysDictTypeSearch">
        SELECT a.* FROM sys_dict_type a
        <where>
            <if test="null != dictName ">
                and a.dict_name = #{dictName}
            </if>
            <if test="null != dictType ">
                and a.dict_type = #{dictType}
            </if>
            <if test="null != status ">
                and a.status = #{status}
            </if>
            <if test="null != createBy ">
                and a.create_by = #{createBy}
            </if>
            <if test="null != updateBy ">
                and a.update_by = #{updateBy}
            </if>
            <if test="null != remark ">
                and a.remark = #{remark}
            </if>
        </where>
    </select>

</mapper>