<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spyker.application.mapper.TestCodeMapper">
    
    <select id="query" resultType="com.spyker.application.entity.TestCode" parameterType="com.spyker.application.search.TestCodeSearch">
        SELECT a.* FROM test_code a
        <where>
            <if test="null != name ">
                and a.name = #{name}
            </if>
        </where>
    </select>
    
    <select id="queryPage" resultType="com.spyker.application.entity.TestCode" parameterType="com.spyker.application.search.TestCodeSearch">
        SELECT a.* FROM test_code a
        <where>
            <if test="null != name ">
                and a.name = #{name}
            </if>
        </where>
    </select>

</mapper>